body {
    background-color: beige;
    color: black;
}

.box {
    background-color: #4e342e;
    text-align: center;
    border: 5px solid black;
    font-style:italic;
    color: beige;
    font-size: 20px;
    
}
.first-photo{
    width: 480px;
    height: 200px; 
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}
.second-photo{
    width: 480px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;

}

   footer {
    background-color: purple;
    color: whitesmoke;
    text-align: center;
    font: bold;
   }
     .paragraph{
        float: right;
        font-size: 17px;
     }
     h2 {
        background-color: #8d6e63;
        text-align: center;
        color: beige;
        font-weight: 600;
        padding: 8px 0;
        border-radius: 4px;
        border: 2px solid black;
     }
li {
    font-size: 15px;
}
     
    